* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  margin-top: 70px;
  background: #333;
  color: white;
}

h1 {
  text-align: center;
}

label {
  font-size: 20pt;
}

.card1 {
  background: purple;
}
.card2 {
  background: rgb(33, 183, 65);
}
.card3 {
  background: rgb(30, 107, 189);
}

.card4 {
  background: rgb(183, 33, 33);
}

.card1,
.card2,
.card3,
.card4 {
  color: beige;

  margin-top: 2rem;
  border-radius: 4px;
  padding-left: 0.5rem;
  padding-bottom: 1rem;
  padding-right: 0.5rem;
  box-shadow: 0px 0px 8px rgb(0, 0, 0);
}
.outPuts {
  background: red;
}

.card1:hover {
  background: rgb(253, 75, 209);
  color: #333;
  transition: ease 1s;
}

.card2:hover {
  background: rgb(122, 255, 164);
  color: #333;
  transition: ease 1s;
}

.card3:hover {
  background: rgb(122, 122, 255);
  color: #333;
  transition: ease 1s;
}
.card4:hover {
  background: rgb(255, 122, 149);
  color: #333;
  transition: ease 1s;
}
